<div class="songkick-events">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tabdivst" id="eventsTab">
  	{% if events_data.upcoming_show == 1 and events_data.past_show == 1 %}
  		{% if upcoming_event != NULL %}
      	<li role="presentation" class="active"><a href="#upcoming" class="active nav-link" aria-controls="upcoming-events" role="tab" data-toggle="tab">Upcoming Events</a></li>
      {% endif %}
      {% if past_event != NULL %}
      	<li role="presentation"><a href="#past" class="nav-link" aria-controls="past-events" role="tab" data-toggle="tab">Past Events</a></li>
      {% endif %}
	    {% elseif events_data.upcoming_show == 1 and events_data.past_show == 0 and upcoming_event != NULL %}
	    	<li role="presentation" class="active"><a href="#upcoming" class="active nav-link" aria-controls="upcoming-events" role="tab" data-toggle="tab">Upcoming Events</a></li>
	    {% elseif events_data.past_show == 1 and events_data.upcoming_show == 0 and past_event != NUL %}
	    	<li role="presentation" class="active"><a href="#past" class="active-nav-link" aria-controls="past-events" role="tab" data-toggle="tab">Past Events</a></li>
    {% endif %}
  </ul>
	<div class="tab-content">
		{% if events_data.upcoming_show == 1 and events_data.past_show == 1 %}
	    <div role="tabpanel" class="tab-pane active" id="upcoming">
		    <div class="row">
	    		{% if upcoming_event != NULL %}
			    	<div class="col-md-12 pt-3 pb-3">
							<div>
								{% set current_date ="now"|date("Y-m-d") %}
								{% for key, value in upcoming_event %}
									{% set start_date = value.start.date %}
									{% if start_date > current_date %}
									  {% set full_event_name = value.performance.0.displayName ~ ' @ ' ~ value.venue.displayName %}
									  <div class="row">
											<div class="col-md-3">{{ value.start.date|date("M-d-Y") }}</div>
											<div class="col-md-3">{{ full_event_name }}</div>
											<div class="col-md-3">{{ value.location.city }}</div>
											<div class="col-md-3"><button class="{{ events_data.event_details }}" ><a href={{ value.uri }} target="_blank">More details</a></button></div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
							<img src="{{ img_path }}" class="pt-2" alt="Powered by songkick" style="float: right;" width="70" />
						</div>
					{% endif %}
				</div>
	    </div>

	  	<div role="tabpanel" class="tab-pane" id="past">
	    	<div class="row">
	    		{% if past_event != NULL %}
		    		<div class="col-md-12 pt-3 pb-3">
							<div>
								{% set current_date ="now"|date("Y-m-d") %}
								{% for key, value in past_event %}
									{% set start_date = value.start.date %}
									{% if start_date < current_date %}
									  {% set full_event_name = value.performance.0.displayName ~ ' @ ' ~ value.venue.displayName %}
									  <div class="row">
											<div class="col-md-3">{{ value.start.date|date("M-d-Y") }}</div>
											<div class="col-md-3">{{ full_event_name }}</div>
											<div class="col-md-3">{{ value.location.city }}</div>
											<div class="col-md-3"><button class="{{ events_data.event_details }}" ><a href={{ value.uri }} target="_blank">More details</a></button></div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
							<img src="{{ img_path }}" class="pt-2" alt="Powered by songkick" style="float: right;" width="70" />
						</div>
					{% endif %}
			  </div>
			</div>
		{% endif %}

		{% if upcoming_event != NULL %}
  		{% if events_data.past_show == 0 and events_data.upcoming_show == 1 %}
		    <div role="tabpanel" class="tab-pane active" id="upcoming">
			    <div class="row">
			    	<div class="col-md-12 pt-3 pb-3">
							<div>
								{% set current_date ="now"|date("Y-m-d") %}
								{% for key, value in upcoming_event %}
									{% set start_date = value.start.date %}
									{% if start_date > current_date %}
									  {% set full_event_name = value.performance.0.displayName ~ ' @ ' ~ value.venue.displayName %}
									  <div class="row">
											<div class="col-md-3">{{ value.start.date|date("M-d-Y") }}</div>
											<div class="col-md-3">{{ full_event_name }}</div>
											<div class="col-md-3">{{ value.location.city }}</div>
											<div class="col-md-3"><button class="{{ events_data.event_details }}" ><a href={{ value.uri }} target="_blank">More details</a></button></div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
							<img src="{{ img_path }}" class="pt-2" alt="Powered by songkick" style="float: right;" width="70" />
						</div>
					</div>
		    </div>
			{% endif %}
		{% endif %}

		{% if past_event != NULL %}
  		{% if events_data.past_show == 1 and events_data.upcoming_show == 0 %}
		  	<div role="tabpanel" class="tab-pane active" id="past">
		    	<div class="row">
		    		<div class="col-md-12 pt-3 pb-3">
							<div>
								{% set current_date ="now"|date("Y-m-d") %}
								{% for key, value in past_event %}
									{% set start_date = value.start.date %}
									{% if start_date < current_date %}
									  {% set full_event_name = value.performance.0.displayName ~ ' @ ' ~ value.venue.displayName %}
										<div class="row">
											<div class="col-md-3">{{ value.start.date|date("M-d-Y") }}</div>
											<div class="col-md-3">{{ full_event_name }}</div>
											<div class="col-md-3">{{ value.location.city }}</div>
											<div class="col-md-3"><button class="{{ events_data.event_details }}" ><a href={{ value.uri }} target="_blank">More details</a></button></div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
							<img src="{{ img_path }}" class="pt-2" alt="Powered by songkick" style="float: right;" width="70" />
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>
